vti_encoding:SR|utf8-nl
vti_author:SR|PoohBear\\Kiran Rao
vti_modifiedby:SR|PoohBear\\Kiran Rao
vti_timelastmodified:TR|28 Jul 2011 02:55:18 -0000
vti_timecreated:TR|08 Jun 2011 00:17:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TR|13 Jun 2011 02:55:25 -0000
vti_backlinkinfo:VX|forTony/Square\\ Game/test3/test3.html
vti_cacheddtm:TX|13 Jun 2011 02:55:25 -0000
vti_filesize:IR|206
vti_syncwith_camp.virtualventures.ca\:22/public_html:TW|13 Jun 2011 02:55:25 -0000
vti_syncofs_camp.virtualventures.ca\:22/public_html:TW|14 Aug 2011 03:12:00 -0000
