vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jul 2011 02:55:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|PoohBear\\Kiran Rao
vti_modifiedby:SR|PoohBear\\Kiran Rao
vti_timecreated:TR|11 Jun 2011 02:16:09 -0000
vti_title:SR|JavaScript Platformer 3
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|12 Jun 2011 20:21:56 -0000
vti_cacheddtm:TX|11 Jun 2011 02:16:09 -0000
vti_filesize:IR|1241
vti_cachedtitle:SR|JavaScript Platformer 3
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|S|jsplatformer3_files/GameObject.js S|jsplatformer3_files/VisualGameObject.js S|jsplatformer3_files/Bounce.js S|jsplatformer3_files/Utils.js S|jsplatformer3_files/ApplicationManager.js S|jsplatformer3_files/GameObjectManager.js S|jsplatformer3_files/Main.js H|http://www.brighthub.com/internet/web-development/articles/38364.aspx
vti_cachedsvcrellinks:VX|FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/GameObject.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/VisualGameObject.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/Bounce.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/Utils.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/ApplicationManager.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/GameObjectManager.js FSUS|forTony/Square\\ Game/Template/jsplatformer3_files/Main.js NHHS|http://www.brighthub.com/internet/web-development/articles/38364.aspx
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=content-type text/html;\\ charset=ISO-8859-1
vti_charset:SR|iso-8859-1
vti_syncwith_camp.virtualventures.ca\:22/public_html:TW|11 Jun 2011 02:16:09 -0000
vti_syncofs_camp.virtualventures.ca\:22/public_html:TW|14 Aug 2011 03:11:54 -0000
